.flex-container {
  display: flex;
  justify-content: center;
}
.flex-container {
  display: flex;
  justify-content: flex-start;
}
.flex-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-direction:column;
  justify-content:space-around;
  align-items:flex-start;
  align-items:flex-end;
  

}